html, body
{
	padding: 0;
	margin: 0;
	height: 100%;
	background: black;
}

#background
{
	background-color: #000000;
	background-image: url(../images/registerBG3.jpg);
	background-position: center;
	background-size: cover;
	display: table;
	height: 100%;
	width: 100%;
}

#loginContainer *
{
	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	font-weight: normal;
	line-height: 1em;
	box-sizing: border-box;
	color: #FFFFFF;
}

#loginContainer
{
	color: #FFFFFF;
	width: 80%;
	margin: 0 auto;
	position: relative;
	max-width: 1024px;
}

#inputContainer
{
	width: 400px;
	padding: 45px;
	float: left;
	border-right: 1px solid #999999;
}

#inputContainer h2
{
	text-align: center;
}

#inputContainer input[type="text"],
#inputContainer input[type="email"],
#inputContainer input[type="password"]
{
	background-color: transparent;
	border: 0;
	border-bottom: 1px solid #FFFFFF;
	height: 27px;
	line-height: 27px;
	width: 100%;
	display: block;
}

#inputContainer label
{
	color: #FFFFFF;
	font-size: 13px;
	margin-top: 15px;
	display: block;
}

#inputContainer button
{
	background-color: transparent;
	border: 2px solid #FFFFFF;
	border-radius: 200px;
	color: #D9D9D9;
	display: block;
	font-size: 14px;
	letter-spacing: 1px;
	margin: 20px auto;
	height: 41px;
	width: 100%;
}

#inputContainer button:hover
{
	cursor: pointer;
	background-color: #50005B;
    color: #FFFFFF;
	transition-duration: 1.4s;
}

#inputContainer .errorMessage
{
	color: #E100FF;
	font-size: 12px;
	display: block;
}

#hasAccountText span:hover
{
	cursor: pointer;
	color: #E100FF;
	transition-duration: 0.8s;
}

#hasAccountText span
{
	font-weight: bold;
	font-size: 14px;
	color: #B6B6B6;
	text
}

#hasAccountText
{
	color: #B6B6B6;
	text-align: center;
}

#registerForm,
#loginForm
{
	display: none;
}

#loginText
{
	padding: 45px;
	display: table-cell;
}

#loginText h1
{
	padding: 10px;
	font-size: 60px;
	font-weight: bold;
	color: #000000;
	text-align: center;
	text-shadow: 2px 2px 8px rgba(186, 1, 240, 0.5);
}

#loginText h2
{
	padding: 10px;
	margin: 35px 0;
	text-align: center;
}

#loginText ul
{
	padding: 0;
}

#loginText li
{
	font-size: 16px;
    padding: 16px 60px 20px;
    list-style-type: none;
    background: url(../images/icons/hal9000.png) no-repeat;
}

#container 
{
	width: 550px;
	height: 700px;
	display: flex;
	/*align-items: center;*/
	justify-content: center;
	overflow: hidden;
	position: relative;
}

.circle 
{
	border-radius: 50%;
	background-color: #A0A0A0;
	width: 50px;
	height: 50px;
	position: absolute;
	padding: 150px;
	opacity: 0;
	animation: scaleIn 4s infinite cubic-bezier(.36, .11, .89, .32);
}

@keyframes scaleIn 
{
	from 
  	{
    	transform: scale(.5, .5);
    	opacity: .05;
  	}
  	to 
  	{
    	transform: scale(2.5, 2.5);
    	opacity: 0;
  	}
}

::-webkit-input-placeholder 
{ /* WebKit, Blink, Edge */
    color: #A0A0A0;
}
:-moz-placeholder 
{ /* Mozilla Firefox 4 to 18 */
   color: #A0A0A0;
   opacity: 1;
}
::-moz-placeholder 
{ /* Mozilla Firefox 19+ */
   color: #A0A0A0;
   opacity: 1;
}
:-ms-input-placeholder 
{ /* Internet Explorer 10-11 */
   color: #A0A0A0;
}
::-ms-input-placeholder 
{ /* Microsoft Edge */
   color: #A0A0A0;
}
::placeholder 
{ /* Most modern browsers support this now. */
   color: #A0A0A0;
}