@import "compass/css3";
@import url(https://fonts.googleapis.com/css?family=Finger+Paint);

html, body
{
	padding: 0;
	margin: 0;
	height: 100%;
	background: black;
}

#background
{
	background-color: #000000;
	background-image: url(../images/registerBG3.jpg);
	background-position: center;
	background-size: cover;
	display: table;
	height: 100%;
	width: 100%;
}

#loginContainer *
{
	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	font-weight: normal;
	line-height: 1em;
	box-sizing: border-box;
}

#loginContainer
{
	color: #FFFFFF;
	width: 80%;
	margin: 0 auto;
	position: relative;
	max-width: 1024px;
}

#inputContainer
{
	width: 400px;
	padding: 45px;
	float: left;
	border-right: 1px solid #999999;
}

#inputContainer h2
{
	text-align: center;
}

#inputContainer input[type="text"],
#inputContainer input[type="email"],
#inputContainer input[type="password"]
{
	background-color: transparent;
	border: 0;
	border-bottom: 1px solid #FFFFFF;
	height: 27px;
	line-height: 27px;
	width: 100%;
	display: block;
}

#inputContainer label
{
	color: #FFFFFF;
	font-size: 13px;
	margin-top: 15px;
}

#inputContainer button
{
	background-color: transparent;
	border: 2px solid #FFFFFF;
	border-radius: 200px;
	color: #D9D9D9;
	display: block;
	font-size: 14px;
	letter-spacing: 1px;
	margin: 20px auto;
	height: 41px;
	width: 100%;
}

#inputContainer button:hover
{
	cursor: pointer;
	background-color: #50005B;
    color: #FFFFFF;
	transition-duration: 1.4s;
}

.hasAccountText:hover
{
	cursor: pointer;
	color: #E100FF;
	transition-duration: 0.8s;
}

.hasAccountText span
{
	font-weight: bold;
	font-size: 14px;
}

.hasAccountText
{
	color: #B6B6B6;
	text-align: center;
}

#registerForm,
#loginForm
{
	display: none;
}

#loginText
{
	padding: 35px;
	display: table-cell;
}

#loginText h1
{
	padding: 10px;
	font-size: 60px;
	font-weight: bold;
	overflow: hidden;
  	color: transparent;
  	backface-visibility: hidden;
}

#loginText h2
{
	padding: 10px;
	margin: 35px 0;
}

#loginText ul
{
	padding: 0;
}

#loginText li
{
	font-size: 20px;
    padding: 15px 60px;
    list-style-type: none;
    background: url(../images/icons/hal9000.png) no-repeat;
}

#loginText span 
{
  display: inline-block;
  text-shadow: 0 0 0 whitesmoke;
  animation: smoky 15s 6s both;
}

#loginText span:nth-child(even)
{
  animation-name: smoky-mirror;
}

@keyframes smoky 
{
  60% 
  {
    text-shadow: 0 0 40px whitesmoke;
  }
  to 
  {
    transform:
      translate3d(15rem,-8rem,0)
      rotate(-40deg)
      skewX(70deg)
      scale(1.5);
    text-shadow: 0 0 20px whitesmoke;
    opacity: 0;
  }
}

@keyframes smoky-mirror 
{
  60% 
  {
    text-shadow: 0 0 40px whitesmoke; 
  }
  to 
  {
    transform:
      translate3d(18rem,-8rem,0)
      rotate(-40deg) 
      skewX(-70deg)
      scale(2);
    text-shadow: 0 0 20px whitesmoke;
    opacity: 0;
  }
}

@for $item from 1 through 21 
{
  span:nth-of-type(#{$item})
  { 
    animation-delay: #{(3 + ($item/10))}s; 
  }
} 

::-webkit-input-placeholder 
{ /* WebKit, Blink, Edge */
    color: #A0A0A0;
}
:-moz-placeholder 
{ /* Mozilla Firefox 4 to 18 */
   color: #A0A0A0;
   opacity: 1;
}
::-moz-placeholder 
{ /* Mozilla Firefox 19+ */
   color: #A0A0A0;
   opacity: 1;
}
:-ms-input-placeholder 
{ /* Internet Explorer 10-11 */
   color: #A0A0A0;
}
::-ms-input-placeholder 
{ /* Microsoft Edge */
   color: #A0A0A0;
}
::placeholder 
{ /* Most modern browsers support this now. */
   color: #A0A0A0;
}